{% extends "base.html.twig" %}


{% block body %}

    <h1 class="display-4">Pizza</h1>

    <hr>

    {{ form_start(form) }}

    {{ form_errors(form) }}
    {{ form_widget(form) }}

    <hr>

    <p>
        <button type="submit" class="btn btn-primary">Ok</button>
        <a href="{{ path('app_pizza_index') }}" class="btn btn-link">Cancel</a>
    </p>

    {{ form_end(form) }}
{% endblock %}

